@model List<ProjectViewModel>
@{
    ViewData["Title"] = "Project List";
}

<h2>Project List</h2>
<a asp-action="Edit" class="btn btn-sm btn-outline-success mt-2 mb-2">Add New Project</a>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProjectName</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>