@model InventarisViewModel

@{
    ViewData["Title"] = "Inventaris Detail";
}

<h2>Inventaris Detail</h2>
<table class="table tab-content">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>

        <tr>
            <th>Product Name</th>
            <td>@Model.ProductName</td>
        </tr>

        <tr>
            <th>Category</th>
            <td>@Model.Category</td>
        </tr>

        <tr>
            <th>Brand</th>
            <td>@Model.Brand</td>
        </tr>

        <tr>
            <th>Stock</th>
            <td>@Model.Stock</td>
        </tr>
    </tbody>
</table>