@model List<InventarisViewModel>
@{
    ViewData["Title"] = "Inventaris List";
}

<h2>Inventaris List</h2>
<a asp-action="Edit" class="btn btn-sm btn-outline-success mt-2 mb-2">Add New Inventaris</a>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName</td>
                <td>@item.Category</td>
                <td>@item.Brand</td>
                <td>@item.Stock</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">View</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>